<section id="contact">
  <div class="contact-box">
    <div class="contact-links">
      <h2>CONTACT</h2>
      <div class="links">
        <div class="link">
          <a href="https://www.linkedin.com/in/nour-balti-3433a41b9/"><img src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" ></a>
        </div>
        <div class="link">
          <a href="https://github.com/nour1876"><img src="https://i.postimg.cc/YCV2QBJg/github.png" ></a>
        </div>
        <div class="link">
          <a><img src="https://i.postimg.cc/W4Znvrry/codepen.png" alt="codepen"></a>
        </div>
        <div class="link">
          <a href="https://mail.google.com/mail/u/0/#inbox"><img src="https://i.postimg.cc/NjLfyjPB/email.png" ></a>
        </div>
      </div>
    </div>
    <div class="contact-form-wrapper">
      <form>
         <app-about></app-about>
      </form>
    </div>
  </div>
</section>
