<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <I style="color: rgb(101, 101, 89);">Login</I>
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="form" (submit)="submit()">
        <input type="text" formControlName="email" id="login" class="fadeIn second" name="login" placeholder="login"  >
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password" >
        <input type="submit" class="fadeIn fourth" value="Log In">
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/register">Create Account </a>
      </div>
  
    
  
  
